<div class="row">
    <div class="d-flex justify-content-center">
        <h1 class="">Firechat</h1>
        
    </div>
    <div class="d-flex justify-content-center">
        <img src="assets/img/spark.gif" alt="mdo" width="200" height="250">
    </div>
    <div class="col-md-12 mt-5 text-center">
        <h5>
            Ingresa al chat con la cuenta de tu preferencia
        </h5>
        <br>
        <button type="button" class="btn btn-outline-success"
                (click)="ingresar('google')">
            <i class="bi bi-google"></i>    Google
        </button>
        <br><br>
        <button type="button" class="btn btn-outline-info"
                (click)="ingresar('twitter')">
                <i class="bi bi-twitter"></i>     Twitter
        </button>
    </div>
</div>
